.education-section {
  padding: 6rem 12vw;
  font-family: sans-serif;
   background: linear-gradient(
      38.73deg,
      rgba(204, 0, 187, 0.15) 0%,
      rgba(201, 32, 184, 0) 50%
    ),
    linear-gradient(
      141.27deg,
      rgba(0, 70, 209, 0) 50%,
      rgba(0, 70, 209, 0.15) 100%
    );
   clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 96%, 0 100%); 
}

.education-title {
  text-align: center;
  margin-bottom: 4rem;
  color: white;
}

.education-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.education-title .underline {
  width: 8rem;
  height: 4px;
  background-color: #8245ec;
  margin: 1rem auto 0;
}

.education-title p {
  color: #a0aec0;
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 1rem;
}

.education-timeline {
  position: relative;
}

.timeline-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background: white;
}

.education-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  position: relative;
}

.education-entry.left {
  justify-content: flex-start;
}

.education-entry.right {
  justify-content: flex-end;
}

/* .timeline-circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #a0aec0;
  border: 4px solid #8245ec;
  width: 4rem;
  height: 4rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
} */

.timeline-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}

.education-card {
  background-color: #1a202c;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 20px 1px rgba(130, 69, 236, 0.3);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 28rem;
  transition: transform 0.3s;
}

.education-card:hover {
  transform: scale(1.05);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.school-logo {
  width: 8rem;
  height: 5%;
  background: white;
  border-radius: 0.5rem;
  overflow: hidden;

}

.school-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.school-info h3 {
  font-size: 1.25rem;
  color: white;
  font-weight: 600;
}

.school-info h4 {
  font-size: 0.875rem;
  color: #cbd5e0;
}

.school-info .date {
  font-size: 0.875rem;
  color: #718096;
  margin-top: 0.5rem;
}

.grade {
  margin-top: 1rem;
  color: #a0aec0;
  font-weight: bold;
}

.description {
  margin-top: 1rem;
  color: #a0aec0;
}
