About.css
* {
    font-family: "Poppins", sans-serif;
}
.about-section {
  padding: 1rem 7vw;
  font-family: sans-serif;
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .about-section {
    margin-top: 6rem;
  }
}

@media (min-width: 1024px) {
  .about-section {
    padding-left: 20vw;
    padding-right: 20vw;
    margin-top: 8rem;
  }
}

.about-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
  }
}

.about-left {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .about-left {
    width: 50%;
    text-align: left;
    margin-top: 0;
  }
}

.about-heading {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
  line-height: 0;
}

@media (min-width: 640px) {
  .about-heading {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .about-heading {
    font-size: 3rem;
  }
}

.about-name {
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  line-height: 1.0;
}

@media (min-width: 640px) {
  .about-name {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .about-name {
    font-size: 3.75rem;
  }
}

.about-skills {
  font-size: 1.25rem;
  font-weight: 600;
  color: #8245ec;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.about-skills span {
  color: white;
}

@media (min-width: 640px) {
  .about-skills {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .about-skills {
    font-size: 1.875rem;
  }
}

.about-description {
  font-size: 1rem;
  color: #9ca3af;
  margin: 2rem 0;
  line-height: 1.75;
}

@media (min-width: 640px) {
  .about-description {
    font-size: 1.125rem;
  }
}

.about-button {
  display: inline-block;
  color: white;
  padding: 0.75rem 2rem;
  font-weight: bold;
  border-radius: 9999px;
  margin-top: 1.25rem;
  font-size: 1.125rem;
  transition: transform 0.3s;
  background: linear-gradient(90deg, #8245ec, #a855f7);
  box-shadow: 0 0 2px #8245ec, 0 0 2px #8245ec, 0 0 40px #8245ec;
  text-decoration: none;
}

.about-button:hover {
  transform: scale(1.05);
}

.about-right {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .about-right {
    width: 50%;
    justify-content: flex-end;
  }
}

.profile-tilt {
  width: 12rem;
  height: 12rem;
  border: 4px solid #7e22ce;
  border-radius: 50%;
  overflow: hidden;
}

@media (min-width: 640px) {
  .profile-tilt {
    width: 16rem;
    height: 16rem;
  }
}

@media (min-width: 768px) {
  .profile-tilt {
    width: 30rem;
    height: 30rem;
  }
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(130, 69, 236, 0.5);
}

.cursorCol {
  color: #8245ec;
}
